/* body * {
  border: 1px solid orangered;
} */

body {
  background-color: #0d0d0d;
  margin: 0px;
}

.section-title {
  color: white;
  margin-left: 50px;
  font-size: 72px;
}

/* Nav Bar */

.nav {
  height: 100px;
  width: 100%;
  color: white;
  background-color: #ffffff38;
  margin: 0px;
  padding-left: 35px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 5px 15px black;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  padding-right: 10px;
  margin-left: 10px;
  list-style: none;
  margin: 30px;
}

a.nav-link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

/* Landing */

.landing-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-bottom: 0px;
}

.landing {
  height: 100vh;
  /* margin-top: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d0d0d;
}

.hero-photo {
  height: 100vh;
  bottom: 0;
  animation: fade 2s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-quotes {
  color: #e4e4e4;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  align-items: center;
  animation: slowFade 4s ease-in;
}

.quote {
  width: 400px;
}

.quoter {
  text-align: right;
  animation: extraSlowFade 6s ease-in;
}

@keyframes slowFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes extraSlowFade {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transition-bot {
  width: 100%;
  height: 100px;
  background: #0d0d0d;
  background: linear-gradient(0deg, #000000 1%,#00000000);
  z-index: 2;
  position: absolute;
  bottom: 0;
}

.transition-top {
  width: 100%;
  height: 200px;
  background: #0d0d0d;
  background: linear-gradient(0deg, #00000000 1%,#000000);
  z-index: 1;
  top: 0;
  /* position: absolute; */
  
}

/* projects */

.projects {
  background-color: #000000;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.81'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding-bottom: 20px;
}

.project-window {
  color: white;
  border: 3px solid white;
  background-color: #0d0d0d;
  border-radius: 10px;
  height: 500px;
  /* width: 95vw; */
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  display: flex;
}

.project-era-info {
  min-width: 200px;
  max-width: 200px;
  height: 50%;
  background-color: #0d0d0d;
}

.project-cards {
  display: flex;
  overflow-x: scroll;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 95%;
  min-width: 400px;
  /* border: 2px solid; */
  border-radius: 10px;
  margin: 10px;
}

.project-img {
  border-radius: 10px;
  overflow: hidden;
  /* justify-content: center; */
  /* width: auto; */
  /* max-width: 150%; */
  /* height: auto; */
  /* max-height: 100%; */
}

.project-card-title {
  height: 25%;
}

.project-card-pocket-left {
  height: 96%;
  width: 30px;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0d0d0d;
  border-left: 2px solid #0d0d0d;
  box-shadow: -4px 0px 7px black;
}

.project-card-pocket-right {
  height: 95%;
  width: 30px;
  background-color: #0d0d0d;
  border-right: 2px solid #0d0d0d;
  box-shadow: 4px 0px 5px #0d0d0d;
  z-index: 1;
}

/* skills */

.skills {
  height: 100vh;
  background: #0d0d0d;
  background: linear-gradient(180deg, #000000 10%, #b8b8b8 25%, #eeeeee 35%);
}

.skill-icon {
  height: 100px;
}